In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# working thru example from: https://courses.washington.edu/psy315/tutorials/two_factor_ANOVA.pdf#:~:text=A%20two%20factor%20ANOVA%20%28sometimes%20called%20%27two-way%27%20ANOVA%29,erent%20diets%20AND%20fordi%20erent%20levels%20of%20exercise.

In [3]:
noJ_noPB = np.array([1,7,9,4,5,6,2,5,1])
noJ_yesPB = np.array([4,12,5,8,6,6,8,6,9])
yesJ_noPB = np.array([6,6,2,8,6,6,2,5,9])
yesJ_yesPB = np.array([8,5,5,6,9,11,7,9,7])

In [4]:
d = {'noJ_noPB': noJ_noPB,
     'noJ_yesPB': noJ_yesPB,
     'yesJ_noPB': yesJ_noPB,
     'yesJ_yesPB': yesJ_yesPB}
data = pd.DataFrame(data = d)
data

   noJ_noPB  noJ_yesPB  yesJ_noPB  yesJ_yesPB
0         1          4          6           8
1         7         12          6           5
2         9          5          2           5
3         4          8          8           6
4         5          6          6           9
5         6          6          6          11
6         2          8          2           7
7         5          6          5           9
8         1          9          9           7

In [5]:
data_means = np.mean(data)
data_means

noJ_noPB      4.444444
noJ_yesPB     7.111111
yesJ_noPB     5.555556
yesJ_yesPB    7.444444
dtype: float64

In [6]:
SS_wc = np.sum((data - np.mean(data))**2)
SS_wc

noJ_noPB      60.222222
noJ_yesPB     46.888889
yesJ_noPB     44.222222
yesJ_yesPB    32.222222
dtype: float64

In [7]:
grand_mean = np.mean(np.mean(data))
n_tot = data.size

In [8]:
grand_mean

6.138888888888889

In [9]:
SS_total = np.sum(np.sum(((data - grand_mean)**2)))
SS_total

236.3055555555556

In [10]:
n_cat = data.count()
n_cat

noJ_noPB      9
noJ_yesPB     9
yesJ_noPB     9
yesJ_yesPB    9
dtype: int64

In [11]:
s_x = np.sqrt(SS_wc/(n_cat-1))
s_x

noJ_noPB      2.743680
noJ_yesPB     2.420973
yesJ_noPB     2.351123
yesJ_yesPB    2.006932
dtype: float64

In [12]:
s_xBar = s_x/np.sqrt(n_cat)
s_xBar

noJ_noPB      0.914560
noJ_yesPB     0.806991
yesJ_noPB     0.783708
yesJ_yesPB    0.668977
dtype: float64

In [13]:
SS_wc_tot = np.sum(SS_wc)
SS_wc_tot

183.5555555555556

In [14]:
df_wc_tot = data.size - len(data.columns)
MS_wc = SS_wc_tot/df_wc_tot
MS_wc

5.7361111111111125

In [15]:
data

   noJ_noPB  noJ_yesPB  yesJ_noPB  yesJ_yesPB
0         1          4          6           8
1         7         12          6           5
2         9          5          2           5
3         4          8          8           6
4         5          6          6           9
5         6          6          6          11
6         2          8          2           7
7         5          6          5           9
8         1          9          9           7

In [16]:
#np.array(data.noJ_noPB)
noPB_mean = np.mean(
    np.concatenate((np.array(data.noJ_noPB), np.array(data.yesJ_noPB))))
print(noPB_mean)

yesPB_mean = np.mean(
    np.concatenate((np.array(data.noJ_yesPB), np.array(data.yesJ_yesPB))))
print(yesPB_mean)

5.0
7.277777777777778

In [17]:
SS_PB = (n_cat.noJ_noPB+n_cat.yesJ_noPB)*(noPB_mean-grand_mean)**2 + (
    n_cat.noJ_yesPB+n_cat.yesJ_yesPB)*(yesPB_mean-grand_mean)**2
SS_PB

46.694444444444436

In [18]:
df_PB = 2-1 # deg of freedom is num groups - 1. We have two rows.
MS_PB = SS_PB / df_PB
MS_PB

46.694444444444436

In [19]:
F_stat_PB = MS_PB/MS_wc
F_stat_PB

8.140435835351086

In [20]:
import scipy.stats

In [21]:
F_sig_PB = scipy.stats.f.ppf(q=.95, dfn=df_PB, dfd=df_wc_tot)
F_sig_PB

4.149097445699548

In [22]:
p_PB = 1-scipy.stats.f.cdf(F_stat_PB, df_PB, df_wc_tot)
p_PB

0.007527990777621563

In [31]:
print('There is a significant main effect of peanut butter on taste ratings, F(1,32) = %.2f, p = %.4f' % (F_sig_PB, p_PB))

There is a significant main effect of peanut butter on taste ratings, F(1,32) = 4.15, p = 0.0075

In [25]:
# NOW DO JELLY MAIN EFFECT

yesJ_mean = np.mean(
    np.concatenate((np.array(data.noJ_yesPB), np.array(data.noJ_noPB))))
print(yesJ_mean)

noJ_mean = np.mean(
    np.concatenate((np.array(data.yesJ_yesPB), np.array(data.yesJ_noPB))))
print(noJ_mean)

5.777777777777778
6.5

In [26]:
SS_J = (n_cat.yesJ_yesPB+n_cat.yesJ_noPB)*(yesJ_mean-grand_mean)**2 + (
    n_cat.noJ_yesPB+n_cat.noJ_noPB)*(noJ_mean-grand_mean)**2
SS_J

4.6944444444444455

In [27]:
df_J = 2-1 # deg of freedom is num groups - 1. We have two columns.
MS_J = SS_J / df_J
MS_J

4.6944444444444455

In [28]:
F_stat_J = MS_J/MS_wc
F_stat_J

0.8184019370460048

In [29]:
F_sig_J = scipy.stats.f.ppf(q=.95, dfn=df_J, dfd=df_wc_tot)
F_sig_J

4.149097445699548

In [30]:
p_J = 1-scipy.stats.f.cdf(F_stat_J, df_J, df_wc_tot)
p_J

0.37240866192599487

In [32]:
print('There is not a significant main effect of Jelly butter on taste ratings, F(1,32) = %.2f, p = %.4f' % (F_sig_J, p_J))

There is not a significant main effect of Jelly butter on taste ratings, F(1,32) = 4.15, p = 0.3724

In [36]:
SS_PBxJ = SS_total-SS_wc_tot-SS_PB-SS_J
SS_PBxJ

1.3611111111111187

In [38]:
df_PBxJ = (2-1)*(2-1) # num rows - 1 times num cols - 1
MS_PBxJ = SS_PBxJ/df_PBxJ
MS_PBxJ

1.3611111111111187

In [39]:
F_stat_PBxJ = MS_PBxJ/MS_wc
F_stat_PBxJ

0.2372881355932216

In [44]:
F_sig_PBxJ = scipy.stats.f.ppf(q=.95, dfn=df_PBxJ, dfd=df_wc_tot)
F_sig_PBxJ

4.149097445699548

In [45]:
p_PBxJ = 1-scipy.stats.f.cdf(F_stat_PBxJ, df_PBxJ, df_wc_tot)
p_PBxJ

0.6294919713901619